
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

audio {
  width: 100%;
}

button {
  border-radius: 100%;
  border: none;
  padding: 20px;
  aspect-ratio: 1;
  width: 5rem;
  margin: 2rem;
  transition: 0.2s;
  transform: scale(1);
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

button:hover {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
}

textarea {
  width: 100%;
  border-radius: 5px;
  border: none;
  resize: vertical;
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.entry {
  width: 40%;
  margin: 20px auto;
  background-color: rgb(241 243 244);
  border-radius: 15px;
  padding: 10px 20px 20px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
